## Welcome back! 

Let's grab the data from part one, and get started. We'll need to import all our favorite packages first.

In [1]:
import pandas as pd 

%matplotlib inline
import matplotlib.pyplot as plt

import seaborn as sns



With Pandas, you can either read the csv we made in the previous lab, or you can pass the link to the <a href="https://raw.githubusercontent.com/Zipcoder/DataEngineering.Labs.WineQuality/master/Combined%20Wine%20Data.csv?token=ALOLXONPYPXMSJ6T4KTISB26BZHLG">raw content</a>

In [2]:
#read in a dataframe of the combined data set we built in part 1

data = pd.read_csv("https://raw.githubusercontent.com/Zipcoder/DataEngineering.Labs.Libraries/master/Pandas%20-%20Part%201%20(importing%20data%2C%20summary%20stats)/\
Combined%20Wine%20Data.csv?token=ALOLXOLFRIDBG2N4OHH2NIK6HNDGY")

In [3]:
#show the first few rows of the dataframe to confirm it read in correctly

data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

Ok - let's learn how to manipulate a DataFrame. First off, it's kind of annoying that the color column is last. Let's put that right up front.

It should be noted, there are lots of ways to reaarange/rename DataFrames, below we'll work through a basic example of how to move columns around.

I'll give you some hints here. First we'll need to extract a list of the columns, then we'll rearrange the columns in the way we'd like them, then we'll construct a new dataframe using our custom ordering.

In [4]:
#set a variable that holds a list of the current column names

columns = data.columns.to_list()
columns

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality',
 'color']

In [5]:
#for simplicity lets first arrange the columns alphabetically

columns.sort()
columns

['alcohol',
 'chlorides',
 'citric acid',
 'color',
 'density',
 'fixed acidity',
 'free sulfur dioxide',
 'pH',
 'quality',
 'residual sugar',
 'sulphates',
 'total sulfur dioxide',
 'volatile acidity']

In [5]:
#move 'color' from it's current location in the list, to the front of the list

columns.insert(0, columns.pop(columns.index('color')))

In [6]:
#display the columns list to confirm you've ordered everything correctly

columns

['color',
 'fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [7]:
#create a new dataframe using the freshly ordered columns list you created above

rearranged_data = data[columns]
rearranged_data.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Let's stop here and discuss something fundamental about dataframes

Below I'll show a snippet of code, that show the same dataframe we created above, but under the hood really isn't the same.

In pandas, there is a distinct difference between a view of a df, and a new df. 

Below looks re-arranged right? It is, but nothing has actually changed. This is just a custom view into the old df.
That's why you'll need to create a new dataframe when you add a column. By redefining it, we actually create a new object with our desired column order.

In [8]:
#this simply shows the original data, re-arranged per our new column order

data[columns].head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

We can prove this, by bringing up the original data:

In [9]:
#if we look at the head of the original dataframe, you'll see nothing has changed

data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

See? Still the same :) Let's keep chugging now. We'll dive into other DataFrame operations now. By the end we'll build a function to score all of these wines for our personal tastes.

Let's get familiar with selecting slices of DataFrames. If you're a SQL wizard, some of this may feel familiar.

First up, let's create a new dataframe that contains just the wines that have higher than average sugar content.

In [10]:
#display the average 'residual sugar' across the whole data set

rearranged_data['residual sugar'].mean()

5.4432353393874156

In [11]:
#now create a new df of wines with higher sweetness than the average above

high_sugar_wines = rearranged_data[rearranged_data['residual sugar'] > rearranged_data['residual sugar'].mean()]

I've got a hunch that this sweetness characteristic is probably highly related to the color of the wine. Let's see how many wines of each color there are in our new 'high sweetness' dataframe.

In [12]:
#display the number of wines of each color in the new dataset

high_sugar_wines.color.value_counts()

white    2383
red        74
Name: color, dtype: int64

Looks like nearly all the really sweet wines, are white. 

Well, turns out I don't like white wines at all. So let's revisit the selection we made. Now let's select all the sweet wines, but let's exclude all the white ones.

In [13]:
#remove white wines from the high sweetness data set

high_sugar_wines = high_sugar_wines[high_sugar_wines.color !='white']

In [14]:
#take a look at the first few rows

high_sugar_wines.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
9,red,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
11,red,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
33,red,6.9,0.605,0.12,10.7,0.073,40.0,83.0,0.9993,3.45,0.52,9.4,6
35,red,7.8,0.645,0.00,5.5,0.086,5.0,18.0,0.9986,3.40,0.55,9.6,6
39,red,7.3,0.450,0.36,5.9,0.074,12.0,87.0,0.9978,3.33,0.83,10.5,5

Now you can see, we've chopped up the data, and selected just the rows we want.

In [15]:
#sort the high sweetness wines on the residual sugar column

high_sugar_wines.sort_values(by='residual sugar', ascending=False)

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
480,red,10.6,0.280,0.39,15.5,0.069,6.0,23.0,1.00260,3.12,0.66,9.2,5
1435,red,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1434,red,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1574,red,5.6,0.310,0.78,13.9,0.074,23.0,92.0,0.99677,3.39,0.48,10.5,6
1476,red,9.9,0.500,0.50,13.8,0.205,48.0,82.0,1.00242,3.16,0.75,8.8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,red,7.1,0.430,0.42,5.5,0.071,28.0,128.0,0.99730,3.42,0.71,10.5,5
154,red,7.1,0.430,0.42,5.5,0.070,29.0,129.0,0.99730,3.42,0.72,10.5,5
1133,red,7.2,0.480,0.07,5.5,0.089,10.0,18.0,0.99684,3.37,0.68,11.2,7
35,red,7.8,0.645,0.00,5.5,0.086,5.0,18.0,0.99860,3.40,0.55,9.6,6
1094,red,6.6,0.725,0.09,5.5,0.117,9.0,17.0,0.99655,3.35,0.49,10.8,6